<%= render partial: 'recipes/header'%>

<div class ="container">
  <div class = "main-wrapper">    
      <div class = "list">
        <% @articles.each do |article| %> 
          <%= link_to article_path(article.id), class: "no-line" do %>
            <div class ="index content">
              <div class = "index-image-type">
                <%= image_tag article.image.variant(resize:'400x400').processed, class: "index-image" if article.image.attached? %>
                <p><%= article.article_type.name %></p>
              </div>
              <h1 class="index-title"><%= article.title %></h1>
            </div>
          <% end %>
        <% end %>
      </div>
      <%= link_to "新規投稿", "/articles/new"%>
  </div>

  <div class="sidebar">
    <%= render partial: 'recipes/sidebar' %>
  </div>
</div>
