<%= render partial: 'recipes/header'%>

<div class ="container">
  <div class = "main-wrapper">    
      <div class = "article-list">
        <% @articles.each do |article| %> 
          <div class ="article">
            <div class = "article-image-type">
              <%= image_tag article.image.variant(resize:'400x400').processed if article.image.attached? %>
              <p><%= article.article_type.name %></p>
            </div>
            <%= link_to article.title, "/articles/#{article.id}", method: :get, class: "article-title"%>
          </div>
        <% end %>
      </div>
      <%= link_to "新規投稿", "/articles/new"%>
  </div>

  <div class="sidebar">
    <%= render partial: 'recipes/sidebar' %>
  </div>
</div>