<div class="search-title">search</div>

<div class = "search-container">
  <%= search_form_for Recipe.ransack(params[:q]), url: search_recipes_path do |f| %>
    <%= f.label :title_or_subtitle_or_ingredient, "--Keyword--", {class: "search-menu"} %>
    <br>
    <%= f.search_field :title_or_subtitle_or_ingredient_cont, placeholder: "食材や料理名でレシピ検索", class: "search-field" %>
    <%= f.button type: 'submit', class: "search-button" do %>
      <span class="fa fa-search fa-1x"></span>
    <% end %>

    <br>
    <%= f.label :recipe_type_id_eq, "recipe type" %>
    <%= f.radio_button :recipe_type_id_eq, '', {class: "recipe-type-select", :checked => true} %>指定なし
    <%= f.radio_button :recipe_type_id_eq, 1, {class: "recipe-type-select"} %>オリジナル
    <%= f.radio_button :recipe_type_id_eq, 2, {class: "recipe-type-select"}%>作ってみた
  <% end %>

  <div class="search-menu">--recipe category--</div>
    <ul>
      <li><%= link_to "和食", search_recipes_path(tag_id: 1) %></li>
      <li><%= link_to "洋食", search_recipes_path(tag_id: 2) %></li>
      <li><%= link_to "中華", search_recipes_path(tag_id: 3) %></li>
      <li><%= link_to "多国籍",search_recipes_path(tag_id: 4) %></li>
      <br>
      <li><%= link_to "オードブル", search_recipes_path(tag_id: 5) %></li>
      <li><%= link_to "スープ", search_recipes_path(tag_id: 6) %></li>
      <li><%= link_to "メイン", search_recipes_path(tag_id: 7) %></li>
      <li><%= link_to "パスタ", search_recipes_path(tag_id: 8) %></li>
      <li><%= link_to "リゾット", search_recipes_path(tag_id: 9) %></li>
      <li><%= link_to "デザート", search_recipes_path(tag_id: 10) %></li>
    </ul>


  <div class="search-menu">--column category--</div>
    <ul>
      <li><%= link_to "料理", search_articles_path(article_type_id: 1) %></li>
      <li><%= link_to "食材", search_articles_path(article_type_id: 2) %></li>
      <li><%= link_to "道具", search_articles_path(article_type_id: 3) %></li>
      <li><%= link_to "外食", search_articles_path(article_type_id: 4) %></li>
      <li><%= link_to "つぶやき", search_articles_path(article_type_id: 5) %></li>
      <li><%= link_to "その他", search_articles_path(article_type_id: 6) %></li>
    </ul>
</div>

