<%= render partial: 'recipes/header'%>

<div class ="container">
  <div class = "main-wrapper">

    <div class = "list">
      <% @recipes.each do |recipe| %>
        <%= link_to recipe_path(recipe.id), class: "no-line" do %>
          <div class = "index content">
            <div class = "index-image-type">
              <%= image_tag recipe.image.variant(resize:'400x400').processed, class: "index-image" if recipe.image.attached? %>
              <p><%= recipe.recipe_type.name %></p>
            </div>
            <h1 class="index-title"><%= recipe.title %></h1>
            <div class = "index-tag">
              <% recipe.tags.each do |tag| %>
                <span class= 'tag-name'><%= tag.name %></span>
              <% end %>
            </div>
            <div class = "index-subtitle"><%= recipe.subtitle %></div>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= link_to "新規投稿", "/recipes/new"%>
  </div>

  <div class="sidebar">
    <%= render partial: 'recipes/sidebar' %>
  </div>
</div>