<%= render partial: 'recipes/header'%>

<div class ="container">
  <div class = "main-wrapper">
    <br>
    <br>

    <div class = "recipe-list">
      <% @recipes.each do |recipe| %>
        <div class = "recipe">

          <div class = "recipe-image-type">
            <%= image_tag recipe.image.variant(resize:'400x400').processed if recipe.image.attached? %>
            <p><%= recipe.recipe_type.name %></p>
          </div>

          <%= link_to recipe.title, "/recipes/#{recipe.id}", method: :get, class: "recipe-title" %>
          <br>

          <div class = "recipe-subtitle">
            <%= recipe.subtitle %>
            <br>
          </div>

          <div class = "recipe-favorite">
           <% if recipe.favorite_by?(current_user) %>
                <%= link_to recipe_favorites_path(recipe_id: recipe.id), method: :delete do %>
                  <i class="fa fa-heart fa-2x unlike-btn" aria-hidden="true"></i>
                <% end %>
            <% else %>
                <%= link_to recipe_favorites_path(recipe_id: recipe.id), method: :post do %>
                  <i class="fa fa-heart fa-2x like-btn" aria-hidden="true"></i>
                <% end %>
            <% end %>
          </div>

          <div class = "recipe-cooked-record">
            <% if recipe.cooked_record_by?(current_user) %>
                <%= link_to recipe_cooked_records_path(recipe_id: recipe.id), method: :delete do %>
                  <i class="fa fa-calendar-check-o fa-2x uncheck-btn" aria-hidden="true"></i>
                <% end %>
            <% else %>
                <%= link_to recipe_cooked_records_path(recipe_id: recipe.id), method: :post do %>
                  <i class="fa fa-calendar-check-o fa-2x check-btn" aria-hidden="true"></i>
                <% end %>
            <% end %>
            <br>
          </div>

          <div class = "recipe-tag">
            <% recipe.tags.each do |tag| %>
              <span class= 'tag-name'><%= tag.name %></span>
            <% end %>
            <br>
            <br>
          </div>
          
        </div>
      <% end %>
    </div>
  </div>

  <div class="sidebar">
    <%= render partial: 'recipes/sidebar' %>
  </div>
</div>