<%= render partial: 'recipes/header'%>

<div class ="container">
  <div class = "main-wrapper">

    <div class = "show">
        <div class = "show-title">
          <%= @recipe.title %>
        </div>

        <div class = "show-image-type">
          <%= image_tag @recipe.image.variant(resize:'600x600').processed, class: "show-image" if @recipe.image.attached? %>
          <p><%= @recipe.recipe_type.name %></p>
        </div>

        <div class = "show-tag">
          <% @recipe.tags.each do |tag| %>
              <span class= 'tag-name'><%= tag.name %></span>
          <% end %>
          <br>
        </div>
        
        <div class = "recipe-favorite-and-cooked-record">
            <div class = "recipe-symbol">
              <% if @recipe.favorite_by?(current_user) %>
                    <%= link_to recipe_favorites_path(recipe_id: @recipe.id), class: "no-line", method: :delete do %>
                      <span class="fa fa-heart fa-1x unlike-btn" aria-hidden="true"></span><span class="margin-10">お気に入り</span>
                    <% end %>
              <% else %>
                    <%= link_to recipe_favorites_path(recipe_id: @recipe.id), class: "no-line", method: :post do %>
                      <span class="fa fa-heart fa-1x like-btn" aria-hidden="true"></span><span class="margin-10">お気に入り</span>
                    <% end %>
              <% end %>
            </div>

            <div class = "recipe-symbol">
              <% if @recipe.cooked_record_by?(current_user) %>
                    <%= link_to recipe_cooked_records_path(recipe_id: @recipe.id), class: "no-line", method: :delete do %>
                      <span class="fa fa-calendar-check-o fa-1x uncheck-btn" aria-hidden="true"></span><span class="margin-10">作ったログ</span>
                    <% end %>
              <% else %>
                    <%= link_to recipe_cooked_records_path(recipe_id: @recipe.id), class: "no-line", method: :post do %>
                      <span class="fa fa-calendar-check-o fa-1x check-btn" aria-hidden="true"></span><span class="margin-10">作ったログ</span>
                    <% end %>
              <% end %>
            </div>
        </div>    

        <div class = "show-subtitle">
          <%= @recipe.subtitle %>
        </div>
        <br>
        <%# <%= @recipe.created_at.strftime('%Y年 %m月 %d日') %> 
        <br> 
        材料
        <br>
        <%= @recipe.ingredient, class: "ingredient" %>
        <br>
        作り方
        <br>
        <%= simple_format(@recipe.method) %>

        
        <br>
        ポイント
        <br>
        <%= @recipe.point %>

      <br>
    </div>

  </div>
    
  <div class="sidebar">
    <%= render partial: 'recipes/sidebar' %>
  </div>
</div>

<ul>
    <%= button_to "編集", "/recipes/#{@recipe.id}/edit", method: :get %>
    <%= button_to "削除", "/recipes/#{@recipe.id}", method: :delete %>
    <%= button_to "戻る", recipes_path, method: :get %>
</ul>

