<%= render partial: 'recipes/header'%>

<div class = "container">
  <div class = "main-wrapper">
    <div class = "new">NEW!!</div>
      <% @recipes.each do |recipe| %>
        <%= link_to recipe_path(recipe.id) do %>
          <div class = "show content">
            <h1 class="show-title"><%= recipe.title %></h1>
            <div class = "show-image-type">
              <%= image_tag recipe.image.variant(resize:'600x600').processed , class: "show-image" if recipe.image.attached? %>
              <p><%= recipe.recipe_type.name %></p>
            </div>
            <% recipe.tags.each do |tag| %>
              <span class= 'tag-name'><%= tag.name %></span>
            <% end %>
            <br>
            <div class = "show-subtitle">
              <%= recipe.subtitle %>   
            </div>
          </div>
        <% end %>
      <% end %>
  </div>

  <div class = "sidebar">
    <%= render partial: 'recipes/sidebar'%>
  </div>
</div>

